<!--psuedo: create a beautifull structure leave all the tiny details FOR AFTER meet the requirements fam makke sure theres a solid place for all your stuff--><!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title>Gems Bakery</title>
  </head>
  <body>
      <div class="nav">
        <ul>
  <li><a href="">Us</a></li>
  <li><a href="http://localhost:3000/muffins">muffins</a></li>
  <li><a href="http://localhost:3000/cookies">cookies</a></li>
  <li><a href="http://localhost:3000/cakes">cakes</a></li>
  <li><a href="">Event listeners</a></li>
  <li><a href="">Foundation</a></li>
</ul>
      </div>

      <div id="logo">
        <p>Gems bakery</p>
        <img id="geo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMwhSBkF-_C7ea09xo8zokoB5Kpwbq0vRPLoGvRm63UKLs2cTG&s" alt="">
      </div>
      <p id = 'pop'>We specialize in modern culinary art that not looks baeutiful, but is edible, pleasent, and sustainablyy sourced. Also conducive to human life </p>

          <div class="grids">
            <div class="grid1">    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9aSI1NZcWe67i2zlaEPd5LprVtshZqlr5LblUHnPySk02V3qZpQ&s" >         <img src="https://i.pinimg.com/originals/5d/d4/db/5dd4dbb11ade34e12c85d908512c754e.jpg" height=""  width="271px">             <img src="https://i.pinimg.com/736x/1f/4d/9f/1f4d9f44853041bab3e979d3deba7eda.jpg" height="186" width="271" >
             <img src="http://mymodernmet.com/wp/wp-content/uploads/2017/10/nature-cake-10.jpg" height=""  width="271px">
             <img src=" https://i.pinimg.com/originals/e5/0c/54/e50c5414ceea952d609dacc670ff4f59.jpg" height=""  width="271px">
             <img src="https://www.smartschoolhouse.com/wp-content/uploads/2016/05/cupcake-ssh2.jpg" height=""  width="271px">
            </div>

            <body>
                <div class="foot">
                  <ul>
            <li>Us</li>
            <li></li>
            <li></li>
            <li> </li>
            <li></li>
            <li></li>
            </ul>
                </div>


  </body>
</html>
