body{
  background-image: url("https://images.unsplash.com/photo-1436968188282-5dc61aae3d81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
background-size: cover;
background-repeat: no-repeat;
overflow-x:hidden;
}

.pics{

}


#name{
  color: black;
  background-color:white;
  font-family: 'Della Respira', serif;
  background-size: contain;


}

p{
  font-size: 150%;
}


#allerg{
  color: white;
  background-size: contain;
  padding: 50px;

}

#desc{
  color: white;
  background-size: contain;

}
#price{
  color: white;
  background-size: contain;
}

#slice{

  color: white;
  background-size: contain;

}

.info{
  color: white;
  background: rgba(0, 0, 0, 0.5);
  background-size: contain;
  font-family: 'Harmattan', sans-serif;


}
